h2 {
  font-family: "Dimenze-Bold";
  font-size: 64px;
  color: white;
}

h3 {
  font-family: "Dimenze-Bold";
  font-size: 32px;
  color: white;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.world-map_image {
  position: absolute;
  top: 10px;
  left: 0px;
}

.test_button {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 300px;
  left: 100px;
}

.back_button {
  position: absolute;
  top: 945px;
  left: 129px;
  width: 200px;
  height: 80px;
  border-radius: 50px;
  border: 5px solid #145df3;
  background: #fff;
  /* box-shadow: 0px 0px 30px 0px #fff; */
  text-align: center;
  font-family: "Dimenze-Regular";
  font-size: 40px;
  display: flex;
  justify-content: center;
  line-height: 60px;
}

.slider_box {
  position: absolute;
  top: 527px;
  left: 1350px;
}

.slider {
  width: 682px;
  transform: rotate(270deg);
  color: rgb(255, 255, 255);
}

.slider_box h3 {
  position: absolute;
  top: -420px;
  left: 333px;
}

.water {
  position: absolute;
  background-color: #5969c3;
  width: 100%;
  height: 900px;
  z-index: -2;
  /* box-shadow: 0px 0px 150px 0px rgba(255, 255, 255, 0.791); */
  overflow: hidden;
  /* border-top: 3px solid rgba(255, 255, 255, 0.47); */
}

.game_img {
  position: absolute;
  top: 207px;
  left: 122px;
  width: 1474px;
  height: 666px;
  /* border: 3px solid black; */
  user-select: none;
}

.waves {
  position: absolute;
  width: 2500px;
  height: 1200px;
  left: 0px;
  transition: all 15s;
  top: -150px;
  opacity: 0.2;
  /* border: 3px solid black; */
}

.waves_move {
  left: -200px;
  top: -300px;
  opacity: 0.05;
}

.city_title {
  position: absolute;
  left: 117px;
  top: 20px;
  font-size: 80px;
}

.game_info-text {
  position: absolute;
  left: 1440px;
  top: 106px;
}
.game_info-text {
  position: absolute;
  left: 1440px;
  top: 106px;
}

.game_units-text {
  position: absolute;
  left: 1720px;
  top: 106px;
}

.game_plus-text {
  position: absolute;
  left: 1650px;
  top: 106px;
}

.main_info-text {
  position: absolute;
  top: 990px;
  left: 480px;
}

.main_info-text b {
  color: red;
}

.city_button {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 20px;
  border: 0;
  transition: all 0.5s;
}

.city_button_bigger {
  transform: translate(-4px, -4px);
  width: 28px;
  height: 28px;
}

.city_text {
  position: relative;
  left: -45px;
  top: 22px;
  font-size: large;
  user-select: none;
  white-space: nowrap;
}

.text_upper {
  top: -25px;
}
